@import './variables';
@import './myframework';


.profile-image{
        
    width: 30px;
    height: 50px;
    @include border-radius(50%);
   
}

.profile{
 .cover-photo{
       
        height: 280px!important;
     
    }
    .profile-photo{
          
        width: 150px;
        height: 150px;
        @include border-radius(50%);
        border: 5px white solid;
    }
}
