$text-white:#fff;
$text-black:#000;
$bg-dark-blue:#131921;
$bg-blue:#180f35;
$bg-white:#fff;
$bg-light-grey:#d5d9d9;
$color-grey:#dcdcdc;
$font-h1:2rem;
$font-h2:1rem;
$font-h3:0.75rem;
$mobile-screen:767px;
$tablet-screen:991px;
$md-screen:1199px;
$lg-screen:1200px;