$text-white:#fff;
$text-black:#000;
$bg-dark-blue:rgb(35 39 47);
$bg-blue:#180f35;
$bg-white:#fff;
$bg-light-grey:#d5d9d9;
$color-grey:#dcdcdc;
$font-h1:2rem;
$font-h2:1rem;
$font-h3:0.75rem;
$sm-screen:0;
$md-screen:767px;
$lg-screen:991px;
$xl-screen:1199px;