@import './variables';
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
     .App{
        min-width:100vw ;
        min-height: 100vh ;
        background-color:$bg-blue ;
        }
        @import './Header';
      .profile-image{
        
         width: 30px;
         height: 50px;
         border-radius: 50%;
           -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
           -ms-border-radius: 50%;
           -o-border-radius: 50%;
}

        
